p {

}

a {
  text-decoration: none;
  color: #1D4D0C;
}

h1{
  color: #1D4D0C;
}

h2{
  color: #1D4D0C;
}

h3 {
  color: #1D4D0C;
}

h4 {
  color: #1D4D0C;
}

h5{
    color:#1D4D0C;
}

h6{
  color: #C61329;
}

tr.even {
  background-color:#BFBFAF
}
